<table id="students" class="table table-hover">
	<thead>
		<tr>
			<th><%= sortable "last_name", "Name" %></th>
			<th><%= sortable "name", "School" %></th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr>
			<td><%= link_to student.name, student_path(student) %></td>
			<td><%= student.school.name %></td>
		</tr>
		<% end %>	
	</tbody>
</table>
<%= paginate @students %>