<div class="center hero-unit">
	
	<%= form_tag students_path, :id => "students_search", :method => :get do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
		<p>
			<div class="form-horizontal">
				<!--[if IE 9]>
				<span style="color:gray;">Search by name or school</span><br />
				<![endif]-->
				<%= text_field_tag :search, params[:search], class: "input-large", :placeholder => "Search students" %>
				<%= submit_tag "Search", class: "btn btn-mini", :name => nil, :id => "search_button" %>
			</div>
		</p>
	<% end %>
	
	<div id="students_ajax_table">
		<%= render 'students' %>
	</div>
</div>