<div class="center hero-unit">
	<h1>Enter student details</h1>
	
	<%= simple_form_for @student do |student| -%>
		<%= render 'shared/error_messages', object: student.object %>
		<p>Student Information</p>
		<div class="row">
			<div class="span12">
				<%= student.association :school %>
			</div>
		</div>
		<div class="row">
			<div class="span3">	
				<%= student.input :first_name %>
			</div>
			<div class="span3">
				<%= student.input :middle_name %>
			</div>
			<div class="span3">
				<%= student.input :last_name %>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<%= student.input :empl, :label => "EMPL ID" %>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<%= student.input :gender, :collection => ["Male", "Female"], :as => :radio_buttons, :item_wrapper_class => :inline %>
			</div>
			<div class="span3">
				<%= student.input :grade_level, :collection => ["11", "12"], :as => :radio_buttons, :item_wrapper_class => :inline %>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<%= student.input :dob, as: :string, :label => "Date of Birth" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= student.input :home_phone, :placeholder => "555-555-1212" %>
				<!--[if IE 9]>
				<p style="color:gray;">Ex: 555-555-1212</p>
				<![endif]-->
			</div>
			<div class="span4">
				<%= student.input :cell_phone, :placeholder => "555-555-1212" %>
				<!--[if IE 9]>
				<p style="color:gray;">Ex: 555-555-1212</p>
				<![endif]-->
			</div>
		</div>
		<%= student.input :email %>
		<hr />
		<div id="address-fields">
				<div class="items">
				<%= student.nested_fields_for :addresses do |address| %>
					<fieldset class="item">
						<p>Address Information</p>
						<div class="row">
							<div class="span9">
								<%= address.select :address_type, ["Mailing Address", "Physical Address"] %>
							</div>
						</div>
						<div class="row">
							<div class="span9">
								<%= address.label "Street Address or PO Box" %>
								<%= address.text_field :street, :input_html => {:class => "wide-field"} %>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<%= address.label :city %>
								<%= address.text_field :city %>
							</div>
							<div class="span3">
								<%= address.label :state %>
								<%= address.text_field :state %>
							</div>
							<div class="span3">
								<%= address.label :zip %>
								<%= address.text_field :zip %>
							</div>
							<br />
						</div>
					</fieldset>
				<% end %>
			</div>
			<a href="#" class="add">Add another address</a>
		</div>
		<hr />
		<div id="parent-fields">
			<div class="items2">
				<%= student.nested_fields_for :parents do |parent| %>
					<fieldset class="items">
						<p>Parent/Guardian Information</p>
						<div class="row">
							<div class="span4">
								<%= parent.label :first_name %>
								<%= parent.text_field :first_name %>
							</div>
							<div class="span4">
								<%= parent.label :last_name %>
								<%= parent.text_field :last_name %>
							</div>
						</div>
						<div class="row">
							<div class="span4">
								<%= parent.label :home_phone %>
								<%= parent.text_field :home_phone %>
							</div>
							<div class="span4">
								<%= parent.label :work_phone %>
								<%= parent.text_field :work_phone %>
							</div>
						</div>
					</fieldset>
				<% end %>
			</div>
			<a href="#" class="add">Add another parent or guardian</a>
		</div>
		<hr />
		<%= student.input :medical_issues, as: :text %>
		<%= student.submit "Submit new student", class: "btn btn-large" %>
	<% end %>
</div>
