<div class="center hero-unit">
	<h1>Enter student details</h1>
	
	<%= simple_form_for @student do |student| -%>
		<%= render 'shared/error_messages', object: student.object %>
		<p>Student Information</p>
		<div class="row">
			<div class="span12">
				<%= student.association :school %>
			</div>
		</div>
		<div class="row">
			<div class="span3">	
				<%= student.input :first_name %>
			</div>
			<div class="span3">
				<%= student.input :middle_name %>
			</div>
			<div class="span3">
				<%= student.input :last_name %>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<%= student.input :empl, :label => "EMPL ID" %>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<%= student.input :gender, :collection => ["Male", "Female"], :as => :radio_buttons, :item_wrapper_class => :inline %>
			</div>
			<div class="span3">
				<%= student.input :grade_level, :collection => ["11", "12"], :as => :radio_buttons, :item_wrapper_class => :inline %>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<%= student.input :dob, as: :string, :label => "Date of Birth" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= student.input :home_phone, :placeholder => "555-555-1212" %>
				<!--[if IE 9]>
				<p style="color:gray;">Ex: 555-555-1212</p>
				<![endif]-->
			</div>
			<div class="span4">
				<%= student.input :cell_phone, :placeholder => "555-555-1212" %>
				<!--[if IE 9]>
				<p style="color:gray;">Ex: 555-555-1212</p>
				<![endif]-->
			</div>
		</div>
		<%= student.input :email %>
		<hr />
		<p>Address Information</p>
		<%= student.simple_fields_for :address do |address| %>
			<div class="row">
				<div class="span9">
					<%= address.input :type, collection: ["Mailing Address", "Physical Address"], :label => "Address Type" %>
				</div>
			</div>
			<div class="row">
				<div class="span9">
					<%= address.input :street, :label => "Street Address or PO Box", :input_html => {:class => "wide-field"} %>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<%= address.input :city %>
				</div>
				<div class="span3">
					<%= address.input :state, :input_html => {:maxlength => 2, :value => "VA"} %>
				</div>
				<div class="span3">
					<%= address.input :zip, :label => "5 Digit Zip Code", :input_html => {:maxlength => 5} %>
				</div>
			</div>
		<% end %>
		<hr />
		<div id="parent1">
			<p>Parent Information</p>
			<%= simple_fields_for :parents do |parent| %>
				<div class="row">
					<div class="span4">
						<%= parent.input :first_name %>
					</div>
					<div class="span4">
						<%= parent.input :last_name %>
					</div>
				</div>
				<%= parent.simple_fields_for :addresses do |address| %>
					<div class="row">
						<div class="span9">
							<%= address.input :type, collection: ["Mailing Address", "Physical Address"], :label => "Address Type" %>
						</div>
					</div>
					<div class="row">
						<div class="span9">
							<%= address.input :street, :input_html => {:class => "wide-field"} %>
						</div>
					</div>
					<div class="row">
						<div class="span3">
							<%= address.input :city %>
						</div>
						<div class="span3">
							<%= address.input :state %>
						</div>
						<div class="span3">
							<%= address.input :zip %>
						</div>
					</div>
				<% end %>
				<div class="row">
					<div class="span4">
						<%= parent.input :home_phone %>
					</div>
					<div class="span4">
						<%= parent.input :work_phone %>
					</div>
				</div>
			<% end %>

		</div>
		<div id="parent2"></div>
		<hr />
		<%= student.input :medical_issues, as: :text %>
		<%= student.submit "Submit new student", class: "btn btn-large" %>
	<% end %>
</div>
