<div class="center hero-unit">
	<%= @student.to_s %><br />
	<%= @student.addresses.each do |address| %>
		<%= address.street %><br />
	<% end %>
	<%= @student.parents.each do |parent| %>
		<%= parent.first_name %><br />
	<% end %>
</div>