<div class="center hero-unit">
	<h2 class="left"><%= @student.to_s %></h2>
	<div class="row">
		<div class="span6 section-head">
			General Information <span class="edit"><%= link_to "edit", edit_student_path(@student) %></span>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<span class="info-label">Base School:</span> <%= @student.school.name %>
		</div>
	</div>	
	<div class="row">
		<div class="span6">
			<span class="info-label">EMPL ID:</span> <%= @student.empl %>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<span class="info-label">Gender:</span> <%= @student.gender %>
		</div>
		<div class="span4">
			<span class="info-label">Grade Level:</span> <%= @student.grade_level %>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<span class="info-label">Ethnicity:</span><%= @student.ethnicity %>
		</div>
		<div class="span4">
			<span class="info-label">Birth Date:</span> <%= @student.dob %>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<span class="info-label">Home Phone:</span> <%= number_to_phone(@student.home_phone, :area_code => true) %>
		</div>
		<div class="span4">
			<span class="info-label">Cell Phone	:</span> <%= number_to_phone(@student.cell_phone, :area_code => true) %>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<span class="info-label">Email:</span> <%= @student.email %>
		</div>
	</div>
	<% if @student.addresses.any? %>
		<%= render @addresses %>
	<% end %>
	<div><span class="edit"><%= link_to "Add an address", new_student_address_path(@student) %></span></div>
	
	<% if @student.parents.any?%>
		<%= render @parents %>
	<% end %>	
	<div><span class="edit"><%= link_to "Add a Parent/Guardian", new_student_parent_path(@student) %></span></div>
	<br />
	<div class="row">
		<div class="span9 section-head">
			Medical Issues
		</div>
	</div>
	<div class="row">
		<div class="span9">
			<% if @student.medical_issues.present? %>
				<p><%= @student.medical_issues %></p>
			<% else %>
				<p>None reported</p>
			<% end %>
		</div>
	</div>
</div>