<div class="center hero-unit">
	<% @attendances.each do |a| %>
		<%= a.status %> <%= a.day %><br />
	<% end %>
	<div class="row">
		<div class="span9">
			<h3 class="left muted">Weekly Attendance for <%= @section.course_name %></h3>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th colspan="5"><%= l(Date.today.prev_week(start_day = :monday), :format => :short) %> - <%= l(Date.today.prev_week(start_day = :monday) + 4, :format => :short) %></th>
				<th colspan="5"><%= l(Date.today.beginning_of_week(start_day = :monday), :format => :short) %> - <%= l(Date.today.beginning_of_week(start_day = :monday) + 4, :format => :short) %></th>
			</tr>
			<tr>
				<th>Name</th>
				<th>M</th>
				<th>Tu</th>
				<th>W</th>
				<th>Th</th>
				<th>F</th>
				<th>M</th>
				<th>Tu</th>
				<th>W</th>
				<th>Th</th>
				<th>F</th>
			</tr>
		</thead>
	<% if @enrollments.any? %>
		<% @enrollments.each do |enrollment| %>
			<tbody>
			<tr>
				<td>
					<%= enrollment.to_s %>
				</td>
				<% if enrollment.attendances.any? %>
					<td class="lastmon">
						<%= enrollment.attendances.where("day = ?", Date.today.prev_week(start_day = :monday)).first.try(:show_code) %>
					</td>
					<td class="lasttues">
						<%= enrollment.attendances.where("day = ?", Date.today.prev_week(start_day = :monday) + 1).first.try(:show_code) %>
					</td>
					<td class="lastwed">
						<%= enrollment.attendances.where("day = ?", Date.today.prev_week(start_day = :monday) + 2).first.try(:show_code) %>
					</td>
					<td class="lastth">
						<%= enrollment.attendances.where("day = ?", Date.today.prev_week(start_day = :monday) + 3).first.try(:show_code) %>
					</td>
					<td class="lastfri">
						<%= enrollment.attendances.where("day = ?", Date.today.prev_week(start_day = :monday) + 4).first.try(:show_code) %>
					</td>
					<td class="mon">
						<%= enrollment.attendances.where("day = ?", Date.today.beginning_of_week(start_day = :monday)).first.try(:show_code) %>
					</td>
					<td class="tues">
						<%= enrollment.attendances.where("day = ?", Date.today.beginning_of_week(start_day = :monday) + 1).first.try(:show_code) %>
					</td>
					<td class="wed">
						<%= enrollment.attendances.where("day = ?", Date.today.beginning_of_week(start_day = :monday) + 2).first.try(:show_code) %>
					</td>
					<td class="th">
						<%= enrollment.attendances.where("day = ?", Date.today.beginning_of_week(start_day = :monday) + 3).first.try(:show_code) %>
					</td>
					<td class="fri">
						<%= enrollment.attendances.where("day = ?", Date.today.beginning_of_week(start_day = :monday) + 4).first.try(:show_code) %>
					</td>
				<% end %>
			</tr>
			</tbody>
		<% end %>
	<% else %>
		<tbody>
			<tr>
				<td colspan="6">No students currently enrolled</td>
			</tr>
		</tbody>
	<% end %>
	</table>
</div>