<div class="center hero-unit">
	<div class="row">
		<div class="span8">
			<h3 class="left muted">Weekly Attendance for <%= @section.course_name %></h3>
		</div>
		<div class="span2 floatright">
			<div class="well-small ">
				P - Present<br />
				A - Unexcused Absence<br />
				X - Excused Absence<br />
				T - Tardy
			</div>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th colspan="5"><%= l(Date.today.prev_week(start_day = :monday), :format => :short) %> - <%= l(Date.today.prev_week(start_day = :monday) + 4, :format => :short) %></th>
				<th colspan="5"><%= l(Date.today.beginning_of_week(start_day = :monday), :format => :short) %> - <%= l(Date.today.beginning_of_week(start_day = :monday) + 4, :format => :short) %></th>
			</tr>
			<tr>
				<th>Name</th>
				<th><%= Date.today.prev_week(start_day = :monday).strftime("#{Date.today.prev_week.day.ordinalize}") %></th>
				<th><%= (Date.today.prev_week(start_day = :monday)+1).strftime("#{(Date.today.prev_week.day+1).ordinalize}") %></th>
				<th><%= (Date.today.prev_week(start_day = :monday)+2).strftime("#{(Date.today.prev_week.day+2).ordinalize}") %></th>
				<th><%= (Date.today.prev_week(start_day = :monday)+3).strftime("#{(Date.today.prev_week.day+3).ordinalize}") %></th>
				<th><%= (Date.today.prev_week(start_day = :monday)+4).strftime("#{(Date.today.prev_week.day+4).ordinalize}") %></th>
				<th><%= Date.today.beginning_of_week(start_day = :monday).strftime("#{Date.today.beginning_of_week.day.ordinalize}") %></th>
				<th><%= (Date.today.beginning_of_week(start_day = :monday)+1).strftime("#{(Date.today.beginning_of_week.day+1).ordinalize}") %></th>
				<th><%= (Date.today.beginning_of_week(start_day = :monday)+2).strftime("#{(Date.today.beginning_of_week.day+2).ordinalize}") %></th>
				<th><%= (Date.today.beginning_of_week(start_day = :monday)+3).strftime("#{(Date.today.beginning_of_week.day+3).ordinalize}") %></th>
				<th><%= (Date.today.beginning_of_week(start_day = :monday)+4).strftime("#{(Date.today.beginning_of_week.day+4).ordinalize}") %></th>
			</tr>
		</thead>	
		<tbody>
	<% if @attendances.any? %>
		<% @attendances.each do |student_section_enrollment, attendances| %>
				<tr>
					<td><%= link_to student_section_enrollment.name, new_instructor_section_student_attendance_path(@section, student_section_enrollment.student) %></td>
					<% attendances.sort_by(&:day).each do |attendance| %> 
							<td><%= link_to attendance.show_code, edit_instructor_section_student_attendance_path(student_section_enrollment.section, student_section_enrollment.student, attendance) %></td>
					<% end %>
						
					<% if attendances.count < 10 %>
						<% (10-attendances.count).times do %>
							<td></td>
						<% end %>
					<% end %>
				</tr>
			</tbody>
		<% end %>
	<% else %>
			<tr>
				<td colspan="11">No students currently enrolled</td>
			</tr>
		</tbody>
	<% end %>
	</table>
</div>