<div class="admin">
	<div class="row">
		<div class="span8">
			<h4 class="left muted"><%= @section.course_name %> | <%= @section.description %> | Section <%= @section.section_number %></h3>
		</div>
		<div class="span4">
			<h4 class="right"><%= link_to "Weekly Attendance", reports_section_attendance_path(@section) %></h4>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h3 class="left">Students:</h3>
		</div>
	</div>
	<div class="row">
		<div class="span3">Name</div>
			<% @section.semester.grading_periods.each do |gp| %>
				<div class="span1-5"><%= gp.description %></div>
			<% end %>
			<div class="span1-5 info-label">Final Grade</div>
	</div>
	<hr />
		<% @enrollments.each do |enrollment| %>
			<div class="row">
				<div class="span3">
					<%= link_to enrollment.student.name, reports_section_student_grades_path(@section, enrollment.student) %>
				</div>
				<% if enrollment.grades.present? %>
					<% enrollment.grades.each do |grade| %>
						<div class="span1-5"><%= grade.numerical_grade %></div>
					<% end %>
					<% if enrollment.has_all_grades? %>
						<div class="span1-5 info-label"><%= number_with_precision enrollment.grades.average(:numerical_grade), :precision => 2 %></div>
					<% else %>
						<% (5-enrollment.grades.size).times do %>
							<div class="span1-5">N/A</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		<% end %>
</div>