<div class="center hero-unit">
	<h2 class="left muted"><%= @student.name %></h2>
	<% if @student.sections.any? %>
		<div class="row">
			<div class="tabbable" id="tabs">
				<ul class="nav nav-tabs">
					<% if @sections.any? %>
						<li>
							<a class="tab-link" href="#A" data-toggle="tab"><%= current_semester.description %></a>
						</li>
					<% end %>
					<% if @next_sections.any? %>
						<li>
							<a class="tab-link" href="#B" data-toggle="tab"><%= next_semester.description %></a>
						</li>
					<% end %>
				</ul>
				<div class="tab-content">
					<% if @sections.any? %>
						<div class="tab-pane active" id="A">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Class</th>
										<th>Days</th>
										<th>Time</th>
										<th>Semester</th>
										<th>Grades</th>
										<th>Attendance</th>
									</tr>
								</thead>
								<tbody>
									<% @sections.each do |section| %>
										<tr>
											<td><%= section.course_name %></td>
											<td><%= section.days_of_week_string %></td>
											<td><%= section.time_block %></td>
											<td><%= section.description %></td>
											<td><%= link_to "Current Grades", student_section_grades_path(@student, section), :class => "button btn-small" %></td>
											<td><%= link_to "Current Attendance", student_section_attendances_path(@student, section), :class => "button btn-small" %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>	
					<% end %>
					<% if @next_sections.any? %>
						<div class="tab-pane" id="B">
							<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Class</th>
											<th>Days</th>
											<th>Time</th>
											<th>Semester</th>
										</tr>
									</thead>
									<tbody>	
										<% @next_sections.each do |section| %>
											<tr>
												<td><%= link_to section.course_name, new_student_section_grade_path(@student, section) %></td>
												<td><%= section.days_of_week_string %></td>
												<td><%= section.time_block %></td>
												<td><%= section.description %></td>
											</tr>
										<% end %>
									</tbody>
								</table>
						</div>
					<% end %>		
				</div>
			</div>
		</div>
	<% else %>
		<p><%= @student %> is not registered for any classes!</p>
	<% end %>
</div>
