<%= simple_form_for [@course, @section] do |section| %>
<div class="row">
	<% if params[:school_search] == nil || params[:school_search] == "" %>
		<div class="span3 form_associations">
		Danville
			<%= section.association :students,
				:collection => @ialr_students, :as => :check_boxes %>
		</div>
		<div class="span3 form_associations">
			Martinsville
			<%= section.association :students,
				:collection => @nci_students, :as => :check_boxes %>
		</div>
	<% else %>
		<div class="span3 form_associations">
			<%= section.association :students,
				:collection => @students, :as => :check_boxes %>
		</div>
	<% end %>
</div>
	<%= section.submit "Register students", class: "btn" %>
<% end %>

