<div class="center hero-unit">
	<h3 class="left">Add a new section for <%= @course.course_name %></h3>
	
	<%= simple_form_for [@course, @section] do |section| %>
		<div class="row">
			<div class="span6">
				<%= section.association :semester %>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<%= section.association :teacher %>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<%= section.input :time_block, :collection => Section::TIME_BLOCKS, :as => :select, 
									:label => "Period" %>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<%= section.input :days_of_week, :collection => Section::WEEKDAYS, :as => :check_boxes, 
									:item_wrapper_class => :inline, :label => "Select the days of the week for the section" %>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<%= section.submit "Create Section", :class => "btn btn-large" %>
			</div>
		</div>
	<% end %>
</div>