<div class="center hero-unit">
	<h2 class="left"><%= @section.course_name %></h2>
	<div class="row">
		<div class="span2">
			Section
		</div>
		<div class="span3">
			Teacher
		</div>
		<div class="span2">
			Days of class
		</div>
		<div class="span2">
			Period
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<%= @section.section_number %>
		</div>
		<div class="span3">
			<%= @section.teacher.name %>
		</div>
		<div class="span2">
			<%= @section.days_of_week_string %>
		</div>
		<div class="span2">
			<%= @section.time_block %>
		</div>
	</div>
	<hr />
		<% if @section.students.any? %>
			<div class="row">
				<div class="span4 info-label">Currently Registered Students:</div>
			</div>
			<% @section.students.each do |s|  %>
				<div class="row">
					<div class="span4"><%= s.name %></div>
				</div>
			<% end %>
		<% else %>
			<div class="row">
				<div class="span4">No Students Registered</div>
			</div>
		<% end %>
		
		<div class="row">
			<div class="span4">
				<%= link_to "Add or Remove Students", edit_course_section_path(@section.course, @section), class: "btn" %>
				<%= link_to "Show Attendance", course_section_attendances_path(@section.course, @section), class: "btn" %>
			</div>
		</div>

</div>
