<div class="row">
	<div class="span6">
		<%= address.street %>
	</div>
	<div class="span3">
		<%= address.unit %>
	</div>
</div>
<div class="row">
	<div class="span3">
		<%= address.city %>,
	</div>
	<div class="span3">
		<%= address.state %> 
	</div>
	<div class="span3">
		<%= address.zip %>
	</div>
</div>