<div class="row">
	<% if address.address_type == "Physical" %>
		<div class="section-head">Physical Address</div>
	<% else %>
		<div class="section-head">Mailing Address</div>
	<% end %>
</div>
<div class="row">
	<div class="span6">
		<p class="no-break"><%= address.street %>&nbsp;<%= address.unit %></p>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p class="no-break"><%= address.city %>, <%= address.state %> <%= address.zip %></p>
	</div>
</div>