<div class="center hero-unit">
	<%= simple_form_for [@student, @address] do |address| -%>
	<%= hidden_field_tag :student_id, :value => session[:current_student] %>
	<div class="row">
		<div class="span9">
			<p><span class="info-label">Name:</span> <%= @student.name %></p>
		</div>
	</div>
	<div class="row">
		<div class="span9">
			<%= address.select :address_type, ["Mailing Address", "Physical Address"] %>
		</div>
	</div>
	<div class="row">
		<div class="span9">
			<%= address.label "Street Address or PO Box" %>
			<%= address.text_field :street, :class => "wide-field" %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<%= address.label :city %>
			<%= address.text_field :city %>
		</div>
		<div class="span3">
			<%= address.label :state %>
			<%= address.text_field :state %>
		</div>
		<div class="span3">
			<%= address.label :zip %>
			<%= address.text_field :zip %>
		</div>
	</div>
	<%= address.submit "Save address", class: "btn btn-large" %>
	<% end %>
</div>