<div class=" whole-page">
	<div class="row">
		<ul class="thumbnails">
			<li class="span-5"></li>
			<li class="span4">
				<div class="thumbnail">
					<%= link_to image_tag("students.png", :mouseover => "students-info.png"), "#", :class=>"btn btn-large"  %>
				</div>
			</li>
			<li class="span4">
				<div class="thumbnail">
					<%= link_to image_tag("reports.png", :mouseover => "reports-info.png"), "#", :class=>"btn btn-large" %>
				</div>
			</li>
			<li class="span4">	
				<div class="thumbnail">
					<%= link_to image_tag("schedule.png", :mouseover => "schedule-info.png"), "#", :class=>"btn btn-large"  %>
				</div>
			</li>
		</ul>
	</div>
	<hr />
	<div class="row">
		<h2>Current Classes</h2>
		<% @sections.each do |section| %>
			<%= section.course.course_name %>, <%= section.teacher.name %>, <%= section.days_of_week_string %>, <%= section.time_block %><br />
		<% end %>
	</div>
</div>