<div class="center hero-unit">
	<h2 class="left">
		<%= @course.course_name %>
	</h2>
	<div class="row">
		<div class="span1.5 left">
			<strong>Description:</strong><br />
		</div>
		<div class="span6.5 left">
			<%= @course.course_description %>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset1.5">
			<em>Sections</em>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset1.5">Number</div>
		<div class="span3">Teacher</div>
		<div class="span3">Semester</div>
	</div>
		<% if @course.sections.any? %>
			<%= render @sections %>
			<p class="center"><%= button_to "Add another section for this course", new_course_section_path(@course), class: "btn" %></p>
		<% else %>
			<p class="center"><%= button_to "Add a course section", new_course_section_path(@course), class: "btn" %></p>
		<% end %>
</div>