<div class="row">
	<div class="section-head">Parent<span class="edit"> <%= link_to "edit", edit_parent_path(parent) %></span></div>
</div>
<div class="row">
	<div class="span9">
		<p class="no-break"><span class="info-label">Name:</span> <%= parent.to_s %></p>
	</div>
</div>
<div class="row">
	<div class="span4">
		<p class="no-break"><span class="info-label">Home Phone:</span> <%= number_to_phone(parent.home_phone, :area_code => true) %></p>
	</div>
	<% if parent.work_phone.present? %>
		<div class="span4">
			<p class="no-break"><span class="info-label">Work Phone:</span> <%= number_to_phone(parent.work_phone, :area_code => true) %></p>
		</div>
	<% end %>
</div>
<% if parent.email.present? %>
<div class="row">
	<div class="span9">
		<p class="no-break"><span class="info-label">Email:</span> <%= parent.email %></p>
	</div>
</div>
<% end %>
<% if parent.addresses.any? %>
	<%= render @addresses %>
<% end %>